# Database settings
DB_HOST=localhost
DB_PORT=5000
DB_USERNAME=pguser
DB_PASSWORD=pguser
DB_NAME_DEV=constructor_dev
DB_NAME_TEST=constructor_test
DB_NAME_PROD=constructor_dev

EXPENSE_ID=1
WORK_CATEGORY=1
STOCK_CATEGORY=2

# SMTP settings
SMTP_ADDRESS=smtp.yandex.ru
SMTP_PORT=465
SMTP_DOMAIN=localhost:3000
SMTP_USER_NAME=artsipsmeta@yandex.ru
SMTP_PASSWORD=
MAILER_FROM=artsipsmeta@yandex.ru
