%section{ ng: { controller: 'EstimateController' } }
  %h1 Создание сметы
  %ol.breadcrumb.row
    %li
      = link_to 'Сметы', estimates_path(client_id: params[:client_id])
    %li.active Создание сметы

  = render 'form'
