.row.main-content
  %div{ ng: { repeat: 'stage in stages' } }
    %br
    %h4.stage {{ stage.text.name }}
    %table.table.table-hover
      %thead
        %tr
          %th.col-sm-5 Наименование
          %th.col-sm-2 Количество
          %th.col-sm-2 Стоимость
          %th.col-sm-2 С работой
          %th.col-sm-2
            - unless show
              %a.btn.btn-sm.btn-primary{ ng: { click: 'ctrl.showAddModal(stage.number)' } } Добавить продукт
      %tbody
        %tr{ ng: { repeat: 'product in stage.products' } }
          %td {{ product.name }}
          %td
            %span{ ng: { hide: 'product.custom' } } {{ product.quantity }} {{ product.unit }}
          %td {{ ctrl.productPrice(product) }}
          %td
            %input{ type: 'checkbox', disabled: show.present?, ng: { model: 'product.with_work', change: 'ctrl.recalcProductPrice(stage, product)' } }
          %td
            - unless show
              %a.btn.btn-warning{ title: "Редактировать", ng: { click: 'ctrl.showEditModal(stage.number, product.id)' } }
                %span.glyphicon.glyphicon-pencil{ 'aria-hidden': true }
              %a.btn.btn-danger{ title: "Удалить", ng: { click: 'ctrl.deleteProduct(stage, product.id)' } }
                %span.glyphicon.glyphicon-trash{ 'aria-hidden': true }

        %tr
          %td.text-right{ colspan: 2 }
            %b {{ stage.text.summ }}
          %td{ colspan: 3 }
            %b {{ ctrl.getStagePrice(stage) }} ({{ ctrl.getPriceByArea(ctrl.getStagePrice(stage)) }} руб. за м2)
          %tr
          %td.text-right{ colspan: 2 }
            %b {{ discount.name }} {{ stage.text.summ_dis }}:
          %td{ colspan: 3}
            %b.text-danger -{{ ctrl.getDiscountValue(stage) }}
        %tr
          %td.text-right{ colspan: 2 }
            %b {{ stage.text.discount }}
          %td{ colspan: 3 }
            %b {{ ctrl.getStageDiscountPrice(stage) }} ({{ ctrl.getPriceByArea(ctrl.getStageDiscountPrice(stage)) }} руб. за м2)
    %hr
    %br

  .modal.fade#add-product
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          %button.close{ type: 'button', 'data-dismiss': 'modal', 'aria-label': 'Close' }
            %span{ 'aria-hidden': true } &times;
          %h4.modal-title {{ addModal.header }}
        .modal-body
          .form-horizontal
            %button.btn.btn-default.btn-xs{ "ng-show" => "selectedProduct.hint", :title => "Показать подсказку", type: 'button', data: { target: "#productHint", toggle: "collapse"} }
              %span.glyphicon.glyphicon.glyphicon-info-sign{"aria-hidden" => "true"}
            %p
            #productHint.collapse{ "ng-show" => "selectedProduct.hint" }
              .well {{ selectedProduct.hint }}

            .form-group
              %label.col-sm-3.control-label Сметный продукт
              .col-sm-9
                %select.form-control{ ng: { model: 'selectedProductId', change: 'ctrl.setSelectedProduct()' } }
                  %option Выберите сметный продукт
                  %option{ ng: { repeat: 'product in addModal.products', value: 'product.id' } } {{ product.name }}

            %div{ ng: { show: 'selectedProductId != "Выберите сметный продукт"' } }
              %div{ ng: { hide: 'selectedProductCustom' } }
                .form-group
                  %label.col-sm-3.control-label Количество*
                  .col-sm-8
                    %div
                      %input.form-control#product-quantity{ placeholder: "Введите количество", type: 'number' }
                  .col-sm-1
                    %h5 {{ selectedProduct.unit }}

              %div{ ng: { show: 'selectedProductCustom' } }
                .form-group
                  %label.col-sm-3.control-label Сборка
                  .col-sm-9
                    %select#set.form-control{ ng: { model: 'selectedSetId', change: 'ctrl.setSelectedSet()' } }
                      %option Выберите сборку
                      %option{ ng: { repeat: 'set in selectedProduct.sets', value: 'set.id' } } {{ set.name }}

                %table.table.table-hover
                  %thead
                    %tr
                      %th.col-sm-3 Составляющие
                      %th.col-sm-2 Количество
                      %th.col-sm-2 Единица измерения
                  %tbody
                    %tr{ ng: { repeat: 'template in selectedSet.items' } }
                      %td {{ template.name }}
                      %td
                        %input.form-control.template-quantity{ placeholder: "Введите количество", type: 'number', ng: { model: 'template.quantity', change: 'ctrl.updateTemplateValue(template)' } }
                      %td {{ template.value.unit }}
        .modal-footer
          %button.btn.btn-default{ type: "button", 'data-dismiss': "modal" } Отмена
          %button.btn.btn-success{ type: "button", ng: { click: 'ctrl.addProduct()' } } Сохранить

  .modal.fade#edit-product
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          %button.close{ type: 'button', 'data-dismiss': 'modal', 'aria-label': 'Close' }
            %span{ 'aria-hidden': true } &times;
          %h4.modal-title {{ editModal.header }}
        .modal-body
          .form-horizontal
            %button.btn.btn-default.btn-xs{ "ng-show" => "selectedEditProduct.hint", :title => "Показать подсказку", type: 'button', data: { target: "#productEditHint", toggle: "collapse"} }
              %span.glyphicon.glyphicon.glyphicon-info-sign{"aria-hidden" => "true"}
            %p
            #productEditHint.collapse{ "ng-show" => "selectedEditProduct.hint" }
              .well {{ selectedEditProduct.hint }}

            .form-group
              %label.col-sm-3.control-label Сметный продукт
              .col-sm-9
                %select.form-control{ ng: { model: 'selectedEditProductId' }, disabled: true }
                  %option{ ng: { value: 'selectedEditProductId' } } {{ selectedEditProductId }}

            %div
              %div{ ng: { hide: 'selectedEditProduct.custom' } }
                .form-group
                  %label.col-sm-3.control-label Количество*
                  .col-sm-8
                    %div
                      %input.form-control{ placeholder: "Введите количество", type: 'number', ng: { model: 'selectedEditProduct.quantity', change: 'ctrl.recalcStage(currentStage)' } }
                  .col-sm-1
                    %h5 {{ product.unit }}

              %div{ ng: { show: 'selectedEditProduct.custom' } }
                .form-group
                  %label.col-sm-3.control-label Сборка
                  .col-sm-9
                    %select.form-control{ ng: { model: 'selectedEditSetId', change: 'ctrl.setSelectedEditSet()', options: "set.id as set.name for set in selectedEditProduct.sets" } }

                %table.table.table-hover
                  %thead
                    %tr
                      %th.col-sm-3 Составляющие
                      %th.col-sm-2 Количество
                      %th.col-sm-2 Единица измерения
                  %tbody
                    %tr{ ng: { repeat: 'template in selectedEditSet.items' } }
                      %td {{ template.name }}
                      %td
                        %input.form-control{ placeholder: "Введите количество", type: 'number', ng: { model: 'template.quantity', change: 'ctrl.recalcProduct(template)' } }
                      %td {{ template.value.unit }}
        .modal-footer
          %button.btn.btn-default{ type: "button", data: { dismiss: "modal" } } Закрыть
