.col-sm-4.nested-fields
  = f.hidden_field :asset_file_id, class: 'file-id'
  - if can?(:edit, Solution)
    .remove-button
      = link_to_remove_association f do
        %button.btn.btn-danger.btn-sm
          %span.glyphicon.glyphicon-trash{ 'aria-hidden': true }

  %a.file-thumb{ href: f.object.asset_file.present? && f.object.asset_file.image? ? f.object.asset_file.data.url : ActionController::Base.helpers.asset_url('file-icon.png'), data: {toggle: 'lightbox', gallery: 'client-files'} }
    %img.img-rounded.img-responsive.file-src{ src: f.object.asset_file.present? && f.object.asset_file.image? ? f.object.asset_file.data.url : ActionController::Base.helpers.asset_url('file-icon.png') }
      %p.text-center.file-name
        = f.object.asset_file.data_file_name if f.object.asset_file.present?
