%section{ ng: { controller: 'EstimateController' } }
  %h1 Создание готового решения
  %ol.breadcrumb.row
    %li= link_to 'Готовые решения', solutions_path
    %li.active Создание сметы

  = render 'form'
